@{
    ViewBag.Title = "COOKIEVERKLARING PLANSY";
    Layout = null;
}

@Styles.Render("~/Content/normalize.css");
@Styles.Render("~/Content/style.css");
@Styles.Render("~/Content/custom.css");

<body>
    <div class="logmod">
        <div class="logo-menu">
            <a href="@Url.Action(MVC.Home.New())"><img src="~/Content/images/logo-inline.png" /> </a>
        </div>
        <div class="logmod__wrapper">
            <div class="logmod__container" style="padding: 20px;">
                <h2>@ViewBag.Title</h2>
                <hr />

                <h3>WAT ZIJN COOKIES?</h3>
                <p>
                    Een cookie is een klein (tekst)bestandje dat door je browser op je computer wordt opgeslagen wanneer je onze website

                    bezoekt. Deze informatie kan bij je volgende bezoek naar ons worden teruggestuurd. Zo kan onze website je herkennen.
                </p>
                <h3>
                    WAAROM GEBRUIKEN WIJ COOKIES?
                </h3>
                <p>
                    Cookies zorgen ervoor dat de website snel is en je onze website veilig kan bezoeken. De cookies zorgen er ook voor dat

                    wij kunnen zien hoe de website wordt gebruikt en hoe wij onze website kunnen verbeteren. Daarnaast kunnen cookies

                    van onszelf worden gebruikt om advertenties te tonen die aansluiten op jouw interesses.
                </p>
                <h3>
                    WELKE COOKIES GEBRUIKEN WIJ?
                </h3>
                <p>
                    <b>
                        Functionele cookies
                    </b>
                </p>
                <p>
                    Deze cookies zijn noodzakelijk om de website te laten werken. Zonder deze cookies kan je niet elektronisch betalen, niet

                    inloggen en kunnen sommige voorkeuren (zoals je taalinstellingen) niet worden bewaard.
                </p>
                <p>
                    <b>

                        Google Analytics
                    </b>
                </p>
                <p>
                    Om de kwaliteit en effectiviteit van onze website te testen maken we gebruik van Google Analytics. Zo kunnen we zien

                    hoe de website wordt gebruikt en hoe we de website kunnen verbeteren. Wij hebben een bewerkersovereenkomst

                    gesloten met Google. Dat betekent dat Google de gegevens die door deze cookies worden verzameld, niet voor eigen

                    doeleinden zal gebruiken.
                </p>
                <p>
                    <b>
                        Tracking cookies
                    </b>
                </p>
                <p>
                    Wij vragen je toestemming om tracking cookies te plaatsen. Op basis van de pagina's die jij hebt bezocht, kunnen wij je

                    advertenties laten zien waarvan we denken dat deze interessant voor jou zijn.
                </p>

                <p>
                    <b>
                        Social media
                    </b>
                </p>
                <p>
                    Op onze website staan knoppen van Facebook, Twitter en Instagram. Met deze knoppen kunnen bijvoorbeeld pagina's

                    worden gedeeld op social media. Social media plaatsen via de code van deze knoppen cookies. Wij hebben daar geen

                    invloed op. Lees regelmatig zelf de privacyverklaring van Facebook, Twitter en Instagram om te zien wat er gebeurt met

                    jouw gegevens die via de cookies zijn verzameld.
                </p>

                <h3>
                    HOE KAN IK MIJN GEGEVENS INZIEN, CORRIGEREN OF VERWIJDEREN?
                </h3>
                <p>
                    Je kunt jouw persoonsgegevens inzien, corrigeren of laten verwijderen. Stuur dan een e-mail naar: info@plansy.nl.
                </p>

                <h3>
                    HOE KAN IK COOKIES UITSCHAKELEN OF VERWIJDEREN?
                </h3>
                <p>
                    Je kunt ervoor kiezen geen toestemming te geven voor het plaatsen van cookies. In de internetbrowser kan je ook

                    instellen dat cookies geblokkeerd worden. Het verschilt per browser hoe je dit kan instellen, de meeste browsers geven

                    hier uitleg over in de help-functie. Als je cookies blokkeert, kan het zijn dat onze website minder goed werkt.
                </p>
            </div>
        </div>
    </div>
</body>