@{
    ViewBag.Title = "DISCLAIMER PLANSY";
    Layout = null;
}

@Styles.Render("~/Content/normalize.css");
@Styles.Render("~/Content/style.css");
@Styles.Render("~/Content/custom.css");

<body>
    <div class="logmod">
        <div class="logo-menu">
            <a href="@Url.Action(MVC.Home.New())"><img src="~/Content/images/logo-inline.png" /> </a>
        </div>
        <div class="logmod__wrapper">
            <div class="logmod__container" style="padding: 20px;">
                <h2>@ViewBag.Title</h2>
                <hr />

                <p>
                    Plansy B.V. met KvK-nummer 64754774 ( <b>"Plansy"</b> ), wil je hartelijk welkom heten op plansy.nl ( <b>"website"</b> ). Door onze

                    website te gebruiken stem je met deze disclaimer in. Plansy kan de inhoud van de website en deze disclaimer altijd

                    aanpassen zonder dat jij daarover bericht ontvangt.
                </p>
                <p>
                    De inhoud van onze website is door ons zorgvuldig samengesteld, maar je gebruikt onze website voor eigen risico.

                    Plansy zal zich naar beste vermogen inspannen om de inhoud van de website zo correct mogelijk te houden, maar we

                    staan er niet voor in dat onze website altijd juist of volledig zal zijn. Informatie, dus ook ons aanbod van diensten, kan

                    fouten omvatten of achterhaald zijn.
                </p>
                <p>
                    Plansy is niet aansprakelijk voor schade of andere nadelige gevolgen door gebruik of onbereikbaarheid van (informatie

                    op) onze website. Handelingen die je op basis van onze website of de door ons verstrekte informatie verricht, komen

                    voor je eigen rekening en risico. Op grond van die fouten of achterhaalde informatie, kan dus ook geen overeenkomst

                    tussen Plansy en jou tot stand komen.
                </p>
                <p>
                    Ook voor aan onze website gekoppelde bestanden of voor op onze website opgenomen verwijzingen naar websites van

                    derden aanvaardt Plansy geen aansprakelijkheid.
                </p>
                <p>
                    Plansy controleert de inhoud die gebruikers van de website zelf op onze website plaatsen niet, maar Plansy kan deze

                    gebruikersinhoud wel aanpassen. Als je een klacht hebt, dan horen we dat graag. Stuur je klacht over de inhoud naar

                    info@plansy.nl.
                </p>
                <p>
                    Je mag onze website gebruiken, maar je kunt geen aanspraak maken op onze Intellectuele Eigendomsrechten of die van

                    onze licentiegevers en die van de gebruikers van onze website. Plansy behoudt zich alle rechten met betrekking tot (de

                    inhoud van) de website voor. Toestemming voor het gebruik van inhoud van onze website op publiekelijk toegankelijke

                    plaatsen kan je altijd via info@plansy.nl aan ons vragen.
                </p>
            </div>
        </div>
    </div>
</body>