@{
    ViewBag.Title = "PRIVACY STATEMENT PLANSY";
    Layout = null;
}

@Styles.Render("~/Content/normalize.css");
@Styles.Render("~/Content/style.css");
@Styles.Render("~/Content/custom.css");

<body>
    <div class="logmod">
        <div class="logo-menu">
            <a href="@Url.Action(MVC.Home.New())"><img src="~/Content/images/logo-inline.png" /> </a>
        </div>
        <div class="logmod__wrapper">
            <div class="logmod__container" style="padding: 20px;">
                <h2>@ViewBag.Title</h2>
                <hr />

                <p>
                    Plansy beschermt jouw persoonlijke gegevens en privacy. In deze privacy statement kun je lezen welke persoonlijke

                    gegevens we verzamelen en hoe wij jouw gegevens bewaren en gebruiken. Deze privacy statement is van toepassing op

                    onze website http://plansy.nl (de <b>Website</b> ) en de diensten die wij, Plansy, aanbieden .
                </p>
                <p>
                    <b>
                        Welke persoonlijke gegevens bewaren wij?
                    </b>
                </p>
                <p>
                    Jouw persoonlijke gegevens kunnen op verschillende momenten worden bewaard, zoals wanneer je onze Website

                    bezoekt, een persoonlijk account maakt op onze Website, gebruik maakt van onze diensten of contact met ons opneemt.

                    We bewaren gegevens zoals: je naam, je adres, telefoonnummer, e-mailadres , je betaalgegevens.
                </p>
                <p>
                    Als je 16 jaar of jonger bent, moet je de toestemming van je ouders of voogd hebben om onze Website te gebruiken.
                </p>
                <p>
                    We kunnen ook niet-persoonlijke gegevens bewaren; zoals je type browser, type computer en technische informatie van

                    de manier waarop je contact maakt met onze Website.
                </p>
                <p>
                    <b>
                        Waarom bewaren wij jouw persoonlijke gegevens?
                    </b>
                </p>
                <p>
                    We bewaren en verwerken je persoonlijke gegevens om je opdracht te verwerken, onze diensten te verbeteren en te

                    beschermen en je persoonlijke account te beheren. Soms zullen we je persoonlijke gegevens gebruiken om je

                    belangrijke informatie te sturen, zoals een verandering in onze algemene voorwaarden of privacy statement.
                </p>
                <p>
                    Zonder jouw toestemming zullen we jouw gegevens niet delen met anderen.
                </p>
                <p>
                    Je kunt je aanmelden voor onze nieuwsbrief. Zo blijf je altijd op de hoogte van onze laatste aanbiedingen en updates. Als

                    je geen nieuwsbrieven meer wilt ontvangen, dan kan je je afmelden via de link onderaan de nieuwsbrief..
                </p>
                <p>
                    <b>
                        Hoe beschermen wij jouw persoonlijke gegevens?
                    </b>
                </p>
                <p>
                    We doen er alles aan om je persoonlijke gegevens te beschermen tegen verlies, vernietiging, gebruik, wijziging of

                    verspreiding van je persoonlijke gegevens door onbevoegden. Wij doen dit met Secure Socket Layer (SSL). Hierdoor

                    kunnen degenen die niets met jouw gegevens te maken hebben, er niet bij.
                </p>

                <p>
                    <b>
                        Hoe kan ik mijn persoonlijke gegevens inzien, veranderen of verwijderen?
                    </b>
                </p>
                <p>
                    Je kan je persoonlijke gegevens inzien, veranderen of verwijderen door in te loggen op je account.
                </p>

                <p>
                    <b>
                        Cookies
                    </b>
                </p>

                <p>
                    We kunnen cookies gebruiken om je ervaring op onze Website te verbeteren. Een cookie is een klein stukje informatie

                    dat op je computer wordt opgeslagen wanneer je onze Website bezoekt. Met cookies kan onze Website je herkennen

                    wanneer je ons weer bezoekt. Cookies zorgen er daarnaast o.a. voor dat de Website snel is, je onze Website veilig kan

                    bezoeken en wij fouten op onze Website kunnen opsporen. Als je geen cookies wilt ontvangen kan je in je browser je

                    instellingen veranderen en cookies verwijderen. Let wel op: onze Website werkt dan minder goed.
                </p>

                <p>
                    <b>
                        Links
                    </b>
                </p>
                <p>
                    Op onze Website kunnen links naar andere websites staan. Wij zijn niet verantwoordelijk voor de inhoud of de privacy

                    bescherming van deze websites. We adviseren je dan ook om altijd de privacy statement van de betreffende website te

                    lezen.
                </p>

                <p>
                    <b>
                        Wijzigingen aan deze privacy statement
                    </b>
                </p>

                <p>
                    Wij kunnen deze privacy statement zo nu en dan bijwerken. Als we een grote verandering aanbrengen in deze privacy

                    statement, zullen we dit op onze Website vermelden en sturen wij je een e-mail.
                </p>

                <p>
                    <b>
                        Vragen?
                    </b>
                </p>
                <p>
                    Als je vragen of opmerkingen hebt, kun je ons een mail sturen naar info@plansy.nl.
                </p>


                <p>
                    <b>
                        Plansy B.V.
                    </b>
                </p>
                <p>
                    Wapperslaan 3
                    <br/>
                    5645 EV, Eindhoven
                    <br />
                    Telefoon: 0630289924
                    <br />
                    http://plansy.nl
                </p>
            </div>
        </div>
    </div>
</body>