@using MaProgramez.Resources
@model MaProgramez.Website.Models.ResetPasswordViewModel
@{
    ViewBag.Title = Resource.ResetPasswordView_Title;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-container" style="width: 600px;">
    <div class="login-section">
        <div class="row">
            <div class="col-md-12" style="">
                <div class="form-horizontal">
                    @using (Html.BeginForm(MVC.Account.ResetPassword(), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <h4>@ViewBag.Title</h4>
                        @Html.AntiForgeryToken()
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <input type="submit" class="btn btn-default" value="Reset" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
