@using MaProgramez.Resources
@using MvcPaging
@model IPagedList<MaProgramez.Website.ViewModels.InvoiceListItemViewModel>

@{
    var sortBy = ViewBag.SortBy as string;
    var ascending = (bool)ViewBag.Ascending;
    var filterBy = ViewBag.FilterBy as string;

    var culture = new System.Globalization.CultureInfo("en-US");
}

<div class="clear"></div>

<div class="panel panel-default">
    <div class="panel-body">
        <h4>@Resource.InvoicesListView_Title - @ViewBag.UserName</h4>

        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="search" name="filterBy" class="form-control input-sm" placeholder="@Resource.Search" value="@filterBy" />
                    </div>
                </div>
            </div>

            <input type="submit" style="display: none;" />
        }

        @if (Model != null && Model.Any())
        {

            <div class="sablon">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th><a href="@Url.Action(MVC.Manage.InvoiceList(null, null, "number", filterBy, sortBy != "number" || !ascending))" data-toggle="tooltip" data-placement="top" title=@Resource.Sort><i class="fa @MaProgramez.Website.Helpers.TableHelper.GetTableHeaderIcon(sortBy, "number", ascending)"></i> @Resource.InvoiceNumber</a></th>
                            <th><a href="@Url.Action(MVC.Manage.InvoiceList(null, null, "date", filterBy, sortBy != "date" || !ascending))" data-toggle="tooltip" data-placement="top" title=@Resource.Sort><i class="fa @MaProgramez.Website.Helpers.TableHelper.GetTableHeaderIcon(sortBy, "date", ascending)"></i> @Resource.InvoiceDate</a></th>
                            <th><a href="@Url.Action(MVC.Manage.InvoiceList(null, null, "duedate", filterBy, sortBy != "duedate" || !ascending))" data-toggle="tooltip" data-placement="top" title=@Resource.Sort><i class="fa @MaProgramez.Website.Helpers.TableHelper.GetTableHeaderIcon(sortBy, "duedate", ascending)"></i> @Resource.InvoiceDueDate</a></th>
                            <th><a href="@Url.Action(MVC.Manage.InvoiceList(null, null, "amountwithoutvat", filterBy, sortBy != "amountwithoutvat" || !ascending))" data-toggle="tooltip" data-placement="top" title=@Resource.Sort><i class="fa @MaProgramez.Website.Helpers.TableHelper.GetTableHeaderIcon(sortBy, "amountwithoutvat", ascending)"></i> @Resource.InvoiceAmountWithoutVat</a></th>
                            <th><a href="@Url.Action(MVC.Manage.InvoiceList(null, null, "vat", filterBy, sortBy != "vat" || !ascending))" data-toggle="tooltip" data-placement="top" title=@Resource.Sort><i class="fa @MaProgramez.Website.Helpers.TableHelper.GetTableHeaderIcon(sortBy, "vat", ascending)"></i> @Resource.InvoiceVat</a></th>
                            <th><a href="@Url.Action(MVC.Manage.InvoiceList(null, null, "amountincludingvat", filterBy, sortBy != "amountincludingvat" || !ascending))" data-toggle="tooltip" data-placement="top" title=@Resource.Sort><i class="fa @MaProgramez.Website.Helpers.TableHelper.GetTableHeaderIcon(sortBy, "amountincludingvat", ascending)"></i> @Resource.InvoiceAmountIncludingVat</a></th>
                            <th><a href="@Url.Action(MVC.Manage.InvoiceList(null, null, "invoicestate", filterBy, sortBy != "invoicestate" || !ascending))" data-toggle="tooltip" data-placement="top" title=@Resource.Sort><i class="fa @MaProgramez.Website.Helpers.TableHelper.GetTableHeaderIcon(sortBy, "invoicestate", ascending)"></i> @Resource.InvoiceStateTitle</a></th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
            var number = (ViewBag.Page * Model.PageSize) + 1;
                        }

                        @foreach (var invoice in Model)
                    {
                    <tr>
                        <td class="clickable-row" data-href="@Url.Action(MVC.Invoice.InvoicePdf(invoice.Id))">@(number++)</td>
                        <td class="clickable-row" data-href="@Url.Action(MVC.Invoice.InvoicePdf(invoice.Id))">@invoice.Number</td>
                        <td class="clickable-row" data-href="@Url.Action(MVC.Invoice.InvoicePdf(invoice.Id))">@invoice.Date.ToString("dd-MM-yyyy")</td>
                        <td class="clickable-row" data-href="@Url.Action(MVC.Invoice.InvoicePdf(invoice.Id))">@invoice.DueDate.ToString("dd-MM-yyyy")</td>
                        <td class="clickable-row" data-href="@Url.Action(MVC.Invoice.InvoicePdf(invoice.Id))">@invoice.AmountWithoutVat.ToString("N2", culture)</td>
                        <td class="clickable-row" data-href="@Url.Action(MVC.Invoice.InvoicePdf(invoice.Id))">@invoice.Vat.ToString("N2", culture)</td>
                        <td class="clickable-row" data-href="@Url.Action(MVC.Invoice.InvoicePdf(invoice.Id))">@invoice.AmountWithVat.ToString("N2", culture)</td>
                        <td class="clickable-row" data-href="@Url.Action(MVC.Invoice.InvoicePdf(invoice.Id))">@invoice.PaymentState</td>
                        <td>
                            <ul>
                                <li><a href="@Url.Action(MVC.Invoice.InvoicePdf(invoice.Id))" data-toggle="tooltip" data-placement="top" title="Factura"><i class="fa fa-file-pdf-o"></i></a></li>
                                @if (invoice.ReceiptNo.HasValue)
                                    {
                                    <li><a href="@Url.Action(MVC.Invoice.ReceiptPdf(invoice.Id))" data-toggle="tooltip" data-placement="right" title="Chitanta"><i class="fa fa-money"></i></a></li>
                                    }
                            </ul>
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
                if ((Model.TotalItemCount) > Model.PageSize)
                {
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                    .DisplayTemplate("Bootstrap3Pagination")
                    .MaxNrOfPages(14)
                    .AlwaysAddFirstPageNumber()
                    .AddRouteValue("sortBy", sortBy)
                    .AddRouteValue("ascending", ascending)
                    .AddRouteValue("filterBy", filterBy)
                    )
                }
                }
                else
                {
                <p>@Resource.NoInvoices</p>
                }
            </div>
</div>