<div class="landing-page-content">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    @Resource.LandingPage_StepsTitle
                </h2>
                <span class="sub-title">
                    @Resource.LandingPage_StepsSubTitle - <b>@Resource.Time</b> -<br />
                    @Resource.LandingPage_StepsSubTitle2 
                </span>
                <hr style="margin-bottom: 50px;" />
            </div>
        </div>

        <div class="row" style="margin-bottom: 80px;">
            <div class="col-md-3 col-sm-6 box2">
                <div class="red-box">
                    <i class="fa fa-list-ol"></i>
                </div>
                <p class="red-box-text">
                    @Resource.LandingPage_Step1
                </p>
            </div>
            <div class="col-md-3 col-sm-6 box3">
                <div class="red-box">
                    <i class="fa fa-users"></i>
                </div>
                <p class="red-box-text">
                    @Resource.LandingPage_Step2
                </p>
            </div>
            <div class="col-md-3 col-sm-6 box4">
                <div class="red-box">
                    <i class="fa fa-calendar"></i>
                </div>
                <p class="red-box-text">
                    @Resource.LandingPage_Step3
                </p>
            </div>
            <div class="col-md-3 col-sm-6 box5">
                <div class="red-box">
                    <i class="fa fa-map-marker"></i>
                </div>
                <p class="red-box-text">
                    @Resource.LandingPage_Step4
                </p>
            </div>
        </div>
       
    </div>
</div>
