@using MaProgramez.Resources
@model MaProgramez.Website.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = Resource.ChangePassword;
    Layout = MVC.Shared.Views._MenuLayout;
}

<div class="panel panel-default">
    <div class="panel-body">
        <h4 style="margin-bottom: 20px;">@Resource.ChangePassword</h4>
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-5 form-label" })
                <div class="col-md-7">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-sm" })
                </div>
            </div>
            <hr/>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-5 form-label" })
                <div class="col-md-7">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 form-label" })
                <div class="col-md-7">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="@Resource.Save" class="btn buton5long float-right" style="margin-top: 5px"/>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
