@using MaProgramez.Repository.Utility
@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = Resource.ErrorView_Title;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-container" style="width: 400px;">
    <div class="login-section">
        <div class="row">
            <div class="col-md-12" style="">
                <h2>@Resource.ErrorView_Title</h2>
                <hr />
                <div class="alert alert-error">
                    @Resource.ErrorView_Content
                </div>
                @if (Model != null && Common.GetDbConfig("Environment").ToUpper() != "LIVE")
                {
                    <div>
                        <p>
                            <b>Exception:</b> @Model.Exception.Message<br />
                            <b>Controller:</b> @Model.ControllerName<br />
                            <b>Action:</b> @Model.ActionName
                        </p>
                        <div style="overflow:scroll">
                            <pre>
                        @Model.Exception.StackTrace
                           </pre>
                        </div>
                    </div>
                }

                @if (Request.UrlReferrer != null)
                {
                    <a class="bottomNav" onclick="history.go(-1); return false;" href="#">@Resource.Back</a><br />
                }
            </div>
        </div>
    </div>
</div>

